<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <title>{% if page.type == "tag" %}{{"Eventyr om "}}{% endif %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="/style/style.css"">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1177040-11"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-1177040-11', {'anonymize_ip': true});
  </script>
</head>
