---
layout: default
---

  <article class="eventyr wrapper">

    {% if page.image %}
      {% assign image = site.data.images[page.image] %}
      <figure class="storyimage">
        <img src="{{ site.baseurl }}/images/{{page.image}}" alt="{{image.title}}">
        <figcaption>
          <div>{{image.title}}</div>
          <div class="byline">{{image.artist}}</div>
        </figcaption>
      </figure>
    {% else %}
    <br/>
    <br/>
    <br/>
    {% endif %}

    <h1>{{ page.title }}</h1>
    {% if page.tags.size > 0 %}<aside id="tags">
        et eventyr om
        {% for tag in page.tags %}
          {% if forloop.length == 1 or forloop.index == forloop.length %}
            {% include taglink.html tag=tag nolinks=false %}
          {% else %}
            {% if forloop.rindex == 2 %}
              {% include taglink.html tag=tag nolinks=false %} og
            {% else %}
              {% include taglink.html tag=tag nolinks=false %},
            {% endif %}
          {% endif %}
        {% endfor %}
      </aside>
    {% endif %}

    <div class="ornament" aria-hidden="true">
      <span>RQPPPOS</span>
    </div>

    {% if page.audio %}
      <div id="lydbok">
        <audio id="lydbok-audio">
          <source src="{{ site.baseurl }}/audio/{{page.audio}}">
        </audio>
        <button id="lydbok-kontroll">
          <span class="play-grafikk"></span>
        </button>

        <h3>Hør {{ page.title }}</h3>
        <p>
          En variant av eventyret fortalt av Morten Bilet.
        </p>
        <script>
          const lydbokKontroll = document.getElementById("lydbok-kontroll");
          const lydbokAudio = document.getElementById("lydbok-audio");
          const playGrafikk = document.querySelector(".play-grafikk");
          const playGrafikkKlasser = playGrafikk.classList;

          lydbokKontroll.addEventListener("click", () => {
            if (playGrafikkKlasser.contains("stopp")) {
              playGrafikkKlasser.remove("stopp");
              playGrafikkKlasser.add("til-play");
              lydbokAudio.pause();
              _gaq.push(["_trackEvent", "Audio", "Pause", "{{page.title}}"]);
            } else if (!playGrafikkKlasser.contains("til-play")) {
              playGrafikkKlasser.add("stopp");
              lydbokAudio.play();
              _gaq.push(["_trackEvent", "Audio", "Play", "{{page.title}}"]);
            }
          });

          playGrafikk.addEventListener("transitionend", () => {
            playGrafikkKlasser.remove("til-play");
          });
        </script>
      </div>
    {% endif %}

    <div class="story">
      {{ content }}
    </div>

    <div class="ornament" aria-hidden="true">
      <span>RQPPOS</span>
    </div>

    {% if page.images %}
      <h2>Illustrasjoner</h2>
      {% for image in page.images %}
        {% assign imageData = site.data.images[image] %}
          <img src="{{ site.baseurl }}/images/{{image}}">
        {% if imageData.title %}
          <h3>{{imageData.title}}</h3>
        {% endif %}
        <p>
          Laget av {{imageData.artist}} med {{imageData.technique }}
          på {{imageData.material}} i {{imageData.year}}.
          Originalen er {{imageData.height}} høy og {{imageData.width}}
          bred og eies av {{imageData.eier}}.
        <p>
      {% endfor %}

      <div class="ornament" aria-hidden="true">
        <span>RQPPOS</span>
      </div>
    {% endif %}

  </article>