---
layout: default
type: tag
---
{% assign posts = site.posts | where_exp: "post", "post.tags contains page.tag" %}


  <article class="eventyr category">
    {% assign image_posts = "" | split: ',' %}

    {% for post in site.posts %}
      {% if post.tags contains page.tag %}
        {% assign image_posts = image_posts | push: post %}
      {% endif %}
    {% endfor %}

    {% assign image_post = image_posts | last %}

    {% if image_post.image %}
      {% assign image = site.data.images[image_post.image] %}
      <figure class="storyimage">
        <img src="/images/{{image_post.image}}" alt="{{image.title}}">
        <figcaption>
          <div>{{image.title}}</div>
          <div class="byline">{{image.artist}}</div>
        </figcaption>
      </figure>
    {% endif %}



    <h1>Eventyr om {{page.tag | capitalize}}</h1>
    <div class="ornament" aria-hidden="true">RQPPOS</div>

    <div class="forhåndsvisninger">
      {% for post in posts %}

        <a href="{{ post.url }}" class="forhåndsvisning" style="background-image: url('/images/{{post.image}}')">
          <h3>{{ post.title }}</h3>
          <p>
            Med
            {% for tag in post.tags %}
              {% if forloop.length == 1 or forloop.index == forloop.length %}
                {{ tag }}.
              {% else %}
                {% if forloop.rindex == 2 %}
                {{ tag }} og
                {% else %}
                  {{ tag }},
                {% endif %}
              {% endif %}
            {% endfor %}
          </p>
        </a>
      {% endfor %}
    </div>

  </article>
